.ribbon{
  border-bottom: 1px solid rgba(0, 0, 0, 0.269);
}

.title{
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
}

.mainImage {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
}

.locationNames{
  font-size: 20px;
  font-weight: lighter;
}

.Tasks{
  font-size: 18px;
  font-weight: bold;
}

.task {
  margin-left: 10px;
}

.taskHeader {
  display: flex;
  gap: 6px;
  cursor: pointer;
  font-weight: lighter;
  margin-top: 10px;
}

.taskBody {
  margin-left: 15px;
  font-size: 13px;
}

.video {
  width: 100%;
  height: 160px;
  margin: 8px 0;
  border-radius: 8px;
}

.task2items{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reviewBox {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.reviewBox input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.reviewBox button {
  background: #2f6df6;
  color: white;
  border: none;
  padding: 8px 14px;
  margin-left: 6px;
  border-radius: 6px;
}


.taskHeader.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
