.container {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  font-family: Arial;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ribbon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ribbon img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.searchBox {
  position: relative;
  margin-bottom: 15px;
}

.searchBox input {
  width: 90%;
  padding: 10px 10px 10px 35px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.searchBox input:focus {
  outline: none;
  box-shadow: none;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 9px;
  width: 16px;
  height: 16px;
}

.card {
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 0px;
  margin-bottom: 12px;
}

.card img {
  width: 190px;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}

.card h4 {
  margin: 0;
  font-size: 14px;
}

.card p {
  margin: 4px 0;
  font-size: 12px;
}

.card small {
  font-size: 11px;
}

.viewdetailsDiv{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  
}

.viewdetails{
    background-color: #c7e8a0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    font-size: 7px;
    width: 80px;
}
.viewdetails button{
    border: none;
    background-color: #c7e8a0;
    font-size: 10px;
}

footer {
  text-align: center;
  margin-top: auto;
  color: gray;
  padding: 15px 0px;
}

.completedText {
  font-size: 10px;
  background-color: #c7e8a0;
  padding: 5px 10px;
  border-radius: 50px;
}

/* Mobile */

@media (max-width: 600px) {
  .card {
    gap: 15px;
  }

  .card img {
    width: 100px;
    height: 110px;
    /* border-radius: 10px;
    object-fit: cover; */
    flex-shrink: 0;
  }
}























